.form__button {
    width: 100%;
    border: none;
    background-color:darkblue;
    color: white;
    padding: 15px;
    border-radius: 5px;
} 

.form__button:hover {
    background-color: hsl(240, 100%, 35%);
}

.form__button:active {
    background-color: hsl(240, 100%, 40%);
}